.Button {
    width: 25%;
    height: 100%;
    font-size: 35px;
    background-color: rgb(177, 177, 177);
    color: rgb(255, 202, 155);
    outline: none;
    border: 1px solid transparent;
    transition: all .2s;
    font-weight: bold;
    opacity: 0.9;
}

.Button:hover {
    background-color: sandybrown;
    color: #3e8050;
}

.Button:active {
    transform: scale(.95);
}

.Button-primary {
    color: #3e8050;
}

.Button-operator {
    color: orange;
}

.Button-large {
    color: white;
    background-color: #3e8050;
    width: 50%;
    border-radius: 0 0 15px 0;
}