.Button {
    width: 25%;
    height: 100%;
    font-size: 50px;
    background-color: rgb(177, 177, 177);
    color: rgb(145, 145, 145);
    outline: none;
    border: .1 solid rgb(145, 145, 145);
    transition: all .2s;
    font-weight: bold;
    opacity: 0.9;
    font-family: 'Iceland', cursive;
}

.Button:hover {
    background-color: rgb(145, 145, 145);
    color: rgb(73, 255, 73);
}

.Button:active {
    transform: scale(.95);
}

.Button-primary {
    color: rgb(73, 255, 73);
}

.Button-primary:hover {
    background-color: rgb(73, 255, 73);
    color: rgb(145, 145, 145);
}

.Button-operator {
    color: rgb(145, 145, 145);
}

.Button-large {
    color: white;
    background-color: rgb(73, 255, 73);
    width: 50%;
    border-radius: 0 0 15px 0;

}

.Button-large:hover {
    color: rgb(73, 255, 73);
    background-color: rgb(145, 145, 145);
}

.Button-secondary {
    border-radius: 0 0 0 15px;
}